<div class="pure-u-1 pure-u-md-3-4 main">
    <!--
    <div class="post">
        <div class="post-author">
            <div class="post-author-avatar">
                <a href="/posts/user?author=<%= post.author._id %>">
                    <img src="/img/users_avatar/<%= post.author.avatar%>" alt="" class="img-author-avatar">
                </a>
            </div>
            <div class="post-author-name">
                <span class="text-author-name"><%= post.author.name%></span>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-header">
                <span class="text-post-title"><%= post.title%></span>
                <span class="text-post-detail">阅读(<%= post.pv%>)</span>
                <span class="text-post-detail">评论(<%= post.commentsCount%>)</span>
                <span class="text-post-detail"><%= post.created_at%></span>
                <span class="post-edit">
                        <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                        <div class="ui inline dropdown">
                            <div class="text">菜单</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                                <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                            </div>
                        </div>
                        <% }
                        else if (user && user.identity.toString()==='admin') { %>
                            <div class="ui inline dropdown">
                                <div class="text">菜单</div>                           
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                                </div>
                            </div>
                        <% } %>
                    </span>
            </div>
            <div class="post-content-body">
                <div class="text-post-content">
                    <%- post.content%>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="sigle-header">
        <h1><%- post.title%></h1>
        <% if (post.published === 'n') { %>
            <h2>草稿</h2>
        <% } %>
        <div class="box-user-info">
            <span class="text-post-title">by:<a href="/posts/user?author=<%= post.author._id %>"><%= post.author.name%></a></span>
            <span class="text-post-title">评论(<%= post.commentsCount%>)</span>
            <span class="text-post-title">阅读(<%= post.pv%>)</span>
            <span class="text-post-title"><%= post.created_at%></span>
            <span>
                <% if (user && post.author._id && (user._id.toString() === post.author._id.toString() || user.identity.toString()==='admin')) { %>
                    <div class="dropdown">
                        <div class="dropdown-text" onclick="dropmenu(this.nextElementSibling)">
                            <span>设置</span>
                        </div>
                        <div class="menu">
                            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                                <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                            <% } %>
                            <% if (user && post.author._id && (user._id.toString() === post.author._id.toString() || user.identity.toString()==='admin')) { %>
                                <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                            <% } %>
                            <% if (user && user.identity.toString()==='admin'&&post.top==='n') { %>
                                <div class="item"><a href="/posts/<%= post._id %>/top?t=y">置顶</a></div>
                            <% } %>
                            <% if (user && user.identity.toString()==='admin'&&post.top==='y') { %>
                                <div class="item"><a href="/posts/<%= post._id %>/top?t=n">取消置顶</a></div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </span>
        </div>
    </div>

    <div class="content">
        <%- post.content%>
    </div>

    <% if (post.published !== 'n') { %>
        <%- include('../components/comments') %>
    <% } %>
</div>

</div>