<section class="post body-article-item">
    <header class="post-header">
        <a href="/posts/user?author=<%= post.author._id %>">
            <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="/img/users_avatar/<%= post.author.avatar%>">
        </a>
        <a href="/posts/<%= post._id%>">
            <h2 class="post-title"><%= post.title%></h2>
        </a>
        <p class="post-meta">
            By <a class="post-author" href="/posts/user?author=<%= post.author.id %>"><%= post.author.name%></a>
        </p>
    </header>
    <div class="post-description">
        <div class="post-content">
            <%- post.content%>
        </div>
    </div>

    <div class="post-footer">
        <span class="post-footer-info"><%= post.created_at%></span>
        <span class="post-footer-info">阅读(<%= post.pv%>)</span>
        <span class="post-footer-info">评论(<%= post.commentsCount%>)</span>
        
        <span>
            <% if (user && post.author._id && (user._id.toString() === post.author._id.toString() || user.identity.toString()==='admin')) { %>
                <div class="dropdown">
                    <div class="dropdown-text" onclick="dropmenu(this.nextElementSibling)">
                        设置
                    </div>
                    <div class="menu">
                        <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                            <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                        <% } %>
                        <% if (user && post.author._id && (user._id.toString() === post.author._id.toString() || user.identity.toString()==='admin')) { %>
                            <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                        <% } %>
                        <% if (user && user.identity.toString()==='admin'&&post.top==0) { %>
                            <div class="item"><a href="/posts/<%= post._id %>/top?t=y">置顶</a></div>
                        <% } %>
                        <% if (user && user.identity.toString()==='admin'&&post.top==1) { %>
                            <div class="item"><a href="/posts/<%= post._id %>/top?t=n">取消置顶</a></div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </span>
    </div>
</section>