<%  postNum = postNum + 1; 
    if(postNum % 2 != 0) {
    %>
    <div class="post-content post-left">
<%  } else { %>
    <div class="post-content post-right">
<%  } %>

    <div class="body-article-item">
        <div class="article-item-author">
            <div class="article-item-author-avatar center">
                <img src="/img/users_avatar/<%= post.author.avatar%>" alt="" class="img-author-avatar center">
            </div>
            <div class="article-item-author-name">
                <span class="text-authorname"><%= post.author.name%></span>
            </div>
            <div class="article-item-author-bio">
                <p class="text-authorbio">
                    <%= post.author.bio%>
                </p>
            </div>
        </div>
        <div class="article-item-content">
            <div class="article-item-content-title">
                <a class="text-article-title" href="">
                    <%= post.title%>
                </a>
            </div>
            <div class="article-item-content-text">
                <pre class="text-article-content">
                    <%- post.content%>
                </pre>
            </div>
            <div class="article-item-content-footer">
                <span class="text-article-info"><%= post.created_at%></span>
                <span class="text-article-info">阅读(<%= post.pv%>)</span>
                <span class="text-article-info">阅读(<%= post.commentsCount%>)</span>
            </div>
        </div>
    </div>

</div>