<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>YSUCSDN-社区</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!--<![endif]-->


    <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <!--<![endif]-->
</head>

<body>
    <%- include('components/notification') %>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="post-search">
                <form class="form-search" method="get" action="/posts/s">
                    <input type="text" name="search" class="input-search">
                    <button type="submit" class="btn-search" value="">搜索</button>
                </form>
            </div>
            <div class="header">
                
                <span class="text-title">ysucsdn</span>
                <span class="text-tagline">瞎扯淡的地方</span>

                <div class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/mainpage">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/posts">文章页</a>
                        </li>
                    </ul>
                </div>
                <%  if(user) { %>
                    <div class="post-user-info">
                        <span class="text-tagline">欢迎,<%= user.name%></span>
                        <a href="/posts/user?author=<%= user._id %>" class="link-user-avatar">
                            <img width="60" height="60" alt="Eric Ferraiuolo&#x27;s avatar" class="user-avatar" src="/img/users_avatar/<%= user.avatar%>">
                        </a>
                    </div>
                <%  } else { %>
                    <span class="text-tagline">尚未登录</span>
                <%  } %>

                <div class="nav">
                    <ul class="nav-list">
                        <% if (user) { %>
                            <li class="nav-item">
                                <a class="pure-button" href="/posts/user?author=<%= user._id %>">个人主页</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/manage">账号管理</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/signout">登出</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="pure-button" href="/signin">登录</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/signup">注册</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>