<%- include('header') %>

<link rel="stylesheet" href="/editormd/css/editormd.min.css">
<script src="/editormd/editormd.min.js"></script>

<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            path : "/editormd/lib/"
        });
    });
</script>

    <div class="ui grid">
        <div class="sixteen wide column">
            <form class="ui form segment" method="post" action="/posts/<%= post._id %>/edit">
                <div class="field required">
                    <label>标题</label>
                    <input type="text" name="title" value="<%= post.title %>">
                </div>
                <div id="editormd" class="field required text-writing">
                    <label>内容</label>
                    <textarea name="content" style="display:none;"><%= post.content %></textarea>
                </div>
                <input type="submit" class="ui button button-publish" value="发布">
        </div>
        </form>
    </div>

<%- include('footer') %>