<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSDN主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/mainpage.css" rel="stylesheet">
    </head>
    <body>
        <div class="box--total">
            <div class="header">
                <div class="header-logo center">
                    <a href="/mainpage">
                        <img src="img/local/logo.jpg" alt="">
                    </a>
                </div>
                <div class="header-item">
                    <a href="" class="link-header-item center">新闻</a>
                </div>
                <div class="header-item">
                    <a href="/posts" class="link-header-item center">文章</a>
                </div>
            </div>
            <div class="background center">
                <img src="img/local/csdn.jpg" alt="">
            </div>
            <div class="body">
                <div class="body-introbox center">
                    <div class="body-intro">
                        <div class="body-intro-text center">
                            <strong>It just works!</strong>
                        </div>
                        <div class="body-intro-button center">
                            <a href="" class="link-intro center">
                                <span>了解更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="body-newsbox center">
                    <div class="body-news">
                        <div class="body-news-icon center">
                            <img src="img/local/news.png" alt="" class="img-newsicon center">
                        </div>
                        <div class="body-news-text center">
                            <strong class="text-newstext-major">社团新闻</strong>
                            <span class="text-newstext-minor">社团的大事小事都能在这里发现哦</span>
                        </div>
                        <div class="body-news-box">
                            <div class="body-news-header">
                                <a class="text-newsheader-title" href="/posts/<%= posts[0]._id %>"><%= posts[0].title%></a>
                                <span class="text-newsheader-detail">阅读(<%= posts[0].pv%>)</span>
                                <span class="text-newsheader-detail">评论(<%= posts[0].commentsCount%>)</span>
                                <span class="text-newsheader-detail"><%= posts[0].created_at%></span>
                            </div>
                            <div class="body-news-content">
                                <pre class="text-newscontent">
                                    <%- posts[0].content%>
                                </pre>
                            </div>
                            <div class="body-news-footer">
                                <a href="" class="link-morenews center">更多新闻</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-articlebox">
                    <div class="body-article">
                        <div class="body-article-header">

                        </div>
                        <%  for(var i = 0; i < 3; i++)  {
                                if(!posts[i])
                                    break;  %>
                            <div class="body-article-item">
                                <div class="article-item-author">
                                    <div class="article-item-author-avatar center">
                                        <img src="/img/users_avatar/<%= posts[i].author.avatar%>" alt="" class="img-author-avatar center">
                                    </div>
                                    <div class="article-item-author-name">
                                        <span class="text-authorname"><%= posts[i].author.name%></span>
                                    </div>
                                    <div class="article-item-author-bio">
                                        <p class="text-authorbio"><%= posts[i].author.bio%></p>
                                    </div>
                                </div>
                                <div class="article-item-content">
                                    <div class="article-item-content-title">
                                        <a class="text-article-title" href=""><%= posts[i].title%></a>
                                    </div>
                                    <div class="article-item-content-text">
                                        <pre class="text-article-content">
                                            <%- posts[i].content%>
                                        </pre>
                                    </div>
                                    <div class="article-item-content-footer">
                                        <span class="text-article-info"><%= posts[i].created_at%></span>
                                        <span class="text-article-info">阅读(<%= posts[i].pv%>)</span>
                                        <span class="text-article-info">阅读(<%= posts[i].commentsCount%>)</span>
                                    </div>
                                </div>
                            </div>
                        <%  }   %>
                        <div class="body-article-footer">
                            <a href="" class="link-morearticles center">更多文章</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-links">
                    <div class="footer-links-text center">
                        <span>友情链接</span>
                    </div>
                    <div class="footer-links-item center">
                        <a href="http://www.ysu.edu.cn/">燕山大学</a>
                    </div>
                    <div class="footer-links-item center">
                        <a href="http://www.ysu.edu.cn/">燕山大学</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>