<%- include('header') %>

<link rel="stylesheet" href="css/posts.css">

<!--<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>-->
<div><%= page%></div>
<% 	
	for(var i = (page - 1) * 2; i < (page -1 ) * 2 + 2; i++) {
		if(!posts[i])
			break;     
%>
  	<%- include('components/post-content', { post: posts[i] })%>
<% } %>
<%- include('components/paging')%>

<%- include('footer') %>