<%- include('header') %>

    <link rel="stylesheet" type="" href="css/setting.css">

    <div class="ui gird">
        <div class="eight wide column">
            <div class="ui segment">
                <div class="user-avatar">
                    <form class="ui form segment" method="post" action="/setting/avatar?avatarId=<%= user.avatar %>" enctype="multipart/form-data">
                        <img class="" src="/img/users_avatar/<%= user.avatar %>">
                        <label>更换头像</label>
                        <input type="file" name="avatar">
                        <input type="submit" class="ui button" value="更改">
                    </form>
                </div>
                <div class="user-name">
                    <label>用户昵称/账号</label>
                    <p>
                        <%= user.name%>
                    </p>
                </div>
                <div class="user-password">
                    <form class="ui form segment" method="post" action="/setting/password">
                        <label>更改密码</label>
                        <input class="user-password-input" type="password" name="oldpassword">
                        <input class="user-password-input" type="password" name="newpassword">
                        <input class="user-password-input" type="password" name="newrepassword">
                        <input type="submit" class="ui button" value="修改">
                    </form>
                </div>
                <form class="ui form segment" method="post" action="/setting/bio">
                    <div class="field required">
                        <label>用户介绍</label>
                        <textarea name="bio" rows="15"><%= user.bio %></textarea>
                    </div>
                    <input type="submit" class="ui button" value="修改">
                </form>
            </div>
        </div>
    </div>
    <%- include('footer') %>