<%- include('header') %>

<link rel="stylesheet" href="../css/posts.css">

<%- include('components/user-info', { author: author }) %>

<div class="limit-post-content">
<%- include('components/limit-post-content', { posts: posts }) %>
</div>

<% if(posts.length == 0) { %>
        <div class="eight wide column">
            <div class="ui segment">
                该用户毛都没写
            </div>
        </div>
<% } %>

<div class="menu-load">
    <div class="item-load center">
        <span>----- 点击加载更多 -----</span>
    </div>
</div>

<%- include('components/back-to-top') %>

<%- include('footer') %>